<%- include('./partials/header') %>
<%- include('./partials/sidenav') %>
<%- include('../partials/flashMessage') %>

      <!-- TOP Nav Bar -->
      <%- include('./partials/topnav') %>
      <!-- TOP Nav Bar END -->
      <div id="content-page" class="content-page">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                 <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                       <div class="iq-header-title">
                          <h4 class="card-title">Add Movie</h4>
                       </div>
                    </div>
                    <div class="iq-card-body">
                       <form method="POST" action="/addMovie" enctype="multipart/form-data" >
                          <div class="row">
                             <div class="col-lg-7">
                                <div class="row">
                                   <div class="col-12 form-group">
                                      <input type="text" name="title" required class="form-control" placeholder="Title">
                                   </div>
                                   <div class="col-12 form_gallery form-group">
                                      <label id="gallery2" for="form_gallery-upload">Upload Thumbnail</label>
                                      <input data-name="#gallery2" id="form_gallery-upload" name="thumbnail" multiple="multiple" class="form_gallery-upload"
                                         type="file" accept=".png, .jpg, .jpeg">
                                   </div>
                                   <div class="col-md-6 form-group">
                                      <select name="category" required class="form-control" id="exampleFormControlSelect1">
                                         <option disabled="">Movie Category</option>
                                         <option value="Comedy">Comedy</option>
                                         <option value="Crime">Crime</option>
                                         <option value="Drama">Drama</option>
                                         <option value="Horror">Horror</option>
                                         <option value="Romance">Romance</option>
                                      </select>
                                   </div>
                                   <div class="col-sm-6 form-group">
                                      <select name="quality" required class="form-control" id="exampleFormControlSelect2">
                                         <option disabled="">Choose quality</option>
                                         <option value="FULLHD">FULLHD</option>
                                         <option value="HD">HD</option>
                                      </select>
                                   </div>
                                   <div class="col-12 form-group">
                                      <textarea name="description" required id="text" name="text" rows="5" class="form-control"
                                         placeholder="Description"></textarea>
                                   </div>
                                </div>
                             </div>
                                    
                             <div class="col-lg-5">
                                <div class="d-block position-relative">
                                   <div class="form_video-upload">
                                      <input type="file" accept="video/mp4,video/x-m4v,video/*" name="video" required>
                                      <p>Upload video</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="row">
                             <div class="col-sm-6 form-group">
                                <input name="releaseYear" required type="text" class="form-control" placeholder="Release year">
                             </div>
                             <div class="col-sm-6 form-group">
                                <select name="language" required class="form-control" id="exampleFormControlSelect3">
                                   <option disabled="">Choose Language</option>
                                   <option selected value="English">English</option>
                                   <option value="Hindi">Hindi</option>
                                   <option value="Tamil">Tamil</option>
                                   <option value="Gujarati">Gujarati</option>
                                </select>
                             </div>
                              <div class="col-sm-6 form-group">
                                <input name="movieDuration" required type="text" class="form-control" placeholder="Movie Duration">
                              </div>
                              <div class="col-sm-6 form-group">
                                 <select name="forVIPOnly" required class="form-control" id="exampleFormControlSelect3">
                                    <option disabled="">Choose Access</option>
                                    <option selected value="VIP">For VIP Only</option>
                                    <option value="Free">For Free</option>
                                 </select>   
                              </div>
                             <div class="col-12 form-group ">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-danger">cancel</button>
                             </div>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>

<%- include('./partials/footer') %>