<%- include('./partials/header2') %>

<%- include('./partials/topMenu') %>

<section id="home" class="iq-main-slider p-0">
  <div id="home-slider" class="slider m-0 p-0">
    <% var latestThree = allMovies.slice(0,3) ; %> <% latestThree.forEach(
    eachMovie =>{ %> <% var img = eachMovie.images[0] %> <% img =
    img.slice(7,img.length) %>
    <div class="slide slick-bg s-bg-1" style="background-image: url(<%=img%>)">
      <div class="container-fluid position-relative h-100">
        <div class="slider-inner h-100">
          <div class="row align-items-center h-100">
            <div class="col-xl-6 col-lg-12 col-md-12">
             
              <h1
                class="slider-text big-title title text-uppercase"
                data-animation-in="fadeInLeft"
                data-delay-in="0.6"
              >
                <%= eachMovie.title %>
              </h1>
              <div
                class="d-flex align-items-center"
                data-animation-in="fadeInUp"
                data-delay-in="1"
              >
                <span class="badge badge-secondary p-2">
                  <%= eachMovie.forVIPOnly %>
                </span>
              </div>
              <p data-animation-in="fadeInUp" data-delay-in="1.2">
                <%= eachMovie.description %>
              </p>
              <div
                class="d-flex align-items-center r-mb-23"
                data-animation-in="fadeInUp"
                data-delay-in="1.2"
              >
                <a href="/movieDetail-<%=eachMovie.id%>" class="btn btn-hover"
                  ><i class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } ) %>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 44 44"
      width="44px"
      height="44px"
      id="circle"
      fill="none"
      stroke="currentColor"
    >
      <circle r="20" cy="22" cx="22" id="test"></circle>
    </symbol>
  </svg>
</section>
<!-- Slider End -->
<!-- MainContent -->
<div class="main-content">
  <% if(requestedMovies.length != 0){ %>
  <section id="iq-favorites">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title"><a href="">Your Requested Movies</a></h4>
          </div>
          <div class="favorites-contens">
            <ul class="favorites-slider list-inline row p-0 mb-0">
              <% var eachMovie = [0] %> <% requestedMovies.forEach( eachMovie =>
              { %>
              <li class="slide-item">
                <a href="/requestedMovieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white">
                          <%= eachMovie.movieDuration %>
                        </span>
                      </div>
                      <div class="hover-buttons">
                        <span class="btn btn-hover">
                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now
                        </span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <% } ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %> <% if(movies.length != 0){ %>
  <section id="iq-upcoming-movie">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title"><a href="#">Your Movies</a></h4>
          </div>
          <div class="upcoming-contens">
            <ul class="favorites-slider list-inline row p-0 mb-0">
              <% movies.forEach( eachMovie => { %>
              <li class="slide-item">
                <a href="/movieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <span class="text-white"
                          ><%= eachMovie.movieDuration %></span
                        >
                      </div>
                      <div class="hover-buttons">
                        <span class="btn btn-hover"
                          ><i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now
                        </span>
                      </div>
                    </div>
                    <div class="block-social-info">
                      <ul class="list-inline p-0 m-0 music-play-lists">
                        <li>
                          <span><i class="ri-volume-mute-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-heart-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-add-line"></i></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <%} ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %> <% if(comedyMovies.length != 0){ %>
  <section id="iq-suggestede" class="s-margin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title">
              <a href="show-category.html">Comedy Movies</a>
            </h4>
          </div>
          <div class="suggestede-contens">
            <ul class="list-inline favorites-slider row p-0 mb-0">
              <% comedyMovies.forEach( eachMovie => {%>
              <li class="slide-item">
                <a href="/movieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <div class="badge badge-secondary p-1 mr-2">
                          <%= eachMovie.forVIPOnly %>
                        </div>
                        <span class="text-white">
                          <%= eachMovie.movieDuration%>
                        </span>
                      </div>
                      <div class="hover-buttons">
                        <div id="video-wrapper">

                           <video
                             id="video"
                             class="video-js"
                             controls = "false"
                             data-play="hover"
                             muted="muted"
                             data-setup={}
                           >
                           <% var videoPath = eachMovie.preview %>
                           <% videoPath = videoPath.slice(7,videoPath.length) %>
                             <source
                               src="<%=videoPath%>"
                               type="video/mp4"
                             />
                           </video>
                         </div>
 
                   
                        <span class="btn btn-hover">
                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now</span
                        >
                      </div>
                    </div>
                 
                  </div>
                </a>
              </li>
              <% } ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %> <% if(crimeMovies.length != 0){ %>
  <section id="iq-suggestede" class="s-margin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title">
              <a href="show-category.html">Crime Movies</a>
            </h4>
          </div>
          <div class="suggestede-contens">
            <ul class="list-inline favorites-slider row p-0 mb-0">
              <% crimeMovies.forEach( eachMovie => {%>
              <li class="slide-item">
                <a href="/movieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <div class="badge badge-secondary p-1 mr-2">
                          <%= eachMovie.forVIPOnly %>
                        </div>
                        <span class="text-white">
                          <%= eachMovie.movieDuration%>
                        </span>
                      </div>
                      <div class="hover-buttons">
                   

                        <span class="btn btn-hover"
                          ><i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now</span
                        >
                      </div>
                    </div>
                    <div class="block-social-info">
                      <ul class="list-inline p-0 m-0 music-play-lists">
                        <li>
                          <span><i class="ri-volume-mute-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-heart-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-add-line"></i></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <% } ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %> <% if(dramaMovies.length != 0){ %>
  <section id="iq-suggestede" class="s-margin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title">
              <a href="show-category.html">Drama Movies</a>
            </h4>
          </div>
          <div class="suggestede-contens">
            <ul class="list-inline favorites-slider row p-0 mb-0">
              <% dramaMovies.forEach( eachMovie => {%>
              <li class="slide-item">
                <a href="/movieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <div class="badge badge-secondary p-1 mr-2">
                          <%= eachMovie.forVIPOnly %>
                        </div>
                        <span class="text-white">
                          <%= eachMovie.movieDuration%>
                        </span>
                      </div>
                      <div class="hover-buttons">
                        <span class="btn btn-hover"
                          ><i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now</span
                        >
                      </div>
                    </div>
                    <div class="block-social-info">
                      <ul class="list-inline p-0 m-0 music-play-lists">
                        <li>
                          <span><i class="ri-volume-mute-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-heart-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-add-line"></i></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <% } ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %> <% if(horrorMovies.length != 0){ %>
  <section id="iq-suggestede" class="s-margin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title">
              <a href="show-category.html">Horror Movies</a>
            </h4>
          </div>
          <div class="suggestede-contens">
            <ul class="list-inline favorites-slider row p-0 mb-0">
              <% horrorMovies.forEach( eachMovie => {%>
              <li class="slide-item">
                <a href="/movieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <div class="badge badge-secondary p-1 mr-2">
                          <%= eachMovie.forVIPOnly %>
                        </div>
                        <span class="text-white">
                          <%= eachMovie.movieDuration%>
                        </span>
                      </div>
                      <div class="hover-buttons">
                        <span class="btn btn-hover"
                          ><i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now</span
                        >
                      </div>
                    </div>
                    <div class="block-social-info">
                      <ul class="list-inline p-0 m-0 music-play-lists">
                        <li>
                          <span><i class="ri-volume-mute-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-heart-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-add-line"></i></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <% } ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %> <% if(romanceMovies.length != 0){ %>
  <section id="iq-suggestede" class="s-margin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 overflow-hidden">
          <div
            class="iq-main-header d-flex align-items-center justify-content-between"
          >
            <h4 class="main-title">
              <a href="show-category.html">Romance Movies</a>
            </h4>
          </div>
          <div class="suggestede-contens">
            <ul class="list-inline favorites-slider row p-0 mb-0">
              <% romanceMovies.forEach( eachMovie => {%>
              <li class="slide-item">
                <a href="/movieDetail-<%=eachMovie.id%>">
                  <div class="block-images position-relative">
                    <div class="img-box">
                      <% var imgLink = eachMovie.images[0] %> <% imgLink =
                      imgLink.slice(7,imgLink.length) %>
                      <img src="<%=imgLink%>" class="img-fluid" alt="" />
                    </div>
                    <div class="block-description">
                      <h6><%= eachMovie.title %></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                        <div class="badge badge-secondary p-1 mr-2">
                          <%= eachMovie.forVIPOnly %>
                        </div>
                        <span class="text-white">
                          <%= eachMovie.movieDuration%>
                        </span>
                      </div>
                      <div class="hover-buttons">
                        <span class="btn btn-hover"
                          ><i class="fa fa-play mr-1" aria-hidden="true"></i>
                          Play Now</span
                        >
                      </div>
                    </div>
                    <div class="block-social-info">
                      <ul class="list-inline p-0 m-0 music-play-lists">
                        <li>
                          <span><i class="ri-volume-mute-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-heart-fill"></i></span>
                        </li>
                        <li>
                          <span><i class="ri-add-line"></i></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <% } ) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>

</div>

<%- include('./partials/footer') %>
